<div>
    <!-- Status panel -->
    <article class="status-panel">
        <header><h2>Добавление нового маршрута</h2></header>
        <div class="content">
            <div class="progress">
                <div class="title"><span>Прогесс</span></div>
                <div class="strip">
                    <span class="percent" style="left: 0%;">0%</span>
                    <div class="loading" style="width: 0%;"></div>
                </div>
            </div>
            <div class="status"><span>Сохранено</span></div>
            <div class="cancel"></div>
        </div>
    </article>
    <!-- Errors -->
    <article class="errors" style="display:none;">
        <div class="content">

        </div>
    </article>
    <!-- Main info -->
    <article class="add-info">
        <header><h2>Добавьте информацию о местах остановок</h2></header>
        <div class="content">
            <div class="left-side">
                <div class="check-stop-type">
                    <input type="radio" name="stop_type" id="bus-station" checked><!--
			!--><label for="bus-station">Автовокзал / Автостанция</label><!--
			!--><input type="radio" name="stop_type" id="just-stop"><!--
			!--><label for="just-stop">Отметить точку на карте</label>
                </div>
                <div class="fields">
                    <div class="field">
                        <label class="text address">
						<span class="name">
							Адрес точки остановки
						</span>
                            <input type="text" name="address" placeholder="Введите адрес">
                            <ul class="options">
                            </ul>
                        </label>
                    </div>
                    <div class="field">
                        <label class="text bus-station">
						<span class="name">
							Введите название автовокзала
						</span>
                            <input type="text" name="bus_station" placeholder="Например, Южный">
                        </label>
                    </div>
                    <div class="half">
                        <label class="text stop-for">
						<span class="name">
							Время стоянки
						</span>
                            <input type="text" name="stop_for" placeholder="00:00">
                        </label><!--
				!--><input type="button" class="add-stop red-button" value="Добавить">
                    </div>
                </div>
            </div><!--
	!--><div class="right-side" align="right">
            <div id="ya-maps" style="width: 446px; height: 245px"></div>
        </div>
        </div>
    </article>
    <!-- List info -->
    <article class="stop-list">
        <header>
            <p class="address"><span>Название города</span></p>
            <p class="distance"><span>Расстояние</span></p>
            <p class="stop-for"><span>Стоянка</span></p>
        </header>
        <div class="content">
            <ul></ul>
        </div>
    </article>
    <article class="next-step clearfix">
        <input class="next-step-button red-button" type="button" href="#autopark" value="Продолжить">
    </article>
</div>