<div class="from-top">
    <article class="bus-header">
        <header>
            <h2>Ваш автопарк - <span class="amount">{{buses.length}} автобус</span></h2>
        </header>
        <a class="button orange-button remove-races" href="#">Снять с рейсов</a>
        <a class="button gray-button remove" href="#">Удалить</a>
        <a class="button red-button add" href="#">Добавить автобус</a>
    </article>
    <article class="list">
        <div *ngFor="#bus of buses">
            <div class="check">
                <input type="checkbox" id="bus1"><label for="bus1"></label>
            </div>
            <div class="open">
                <button>
                    <div class="info">
                        <span>{{bus.busname}}</span><br>
                        {{bus.number_of_storeys}} мест, {{bus.goverment_number}}
                    </div>
                    <div class="race">
                        3 рейса
                    </div>
                    <div class="status">
                        Готов
                    </div>
                </button>
            </div>
            <div class="edit">
                <a class="button edit-button" (click)="editBus(bus)">Редактировать</a>
            </div>
        </div>
    </article>
</div>