/* Status panel */
#content .status-panel {
}

#content .status-panel header h2 {
	font: 400 1.125rem 'Roboto';
	color: #333;
    margin-bottom: 18px;
}

#content .status-panel .content {
	position: relative;
}

#content .status-panel .content .progress {
	display: inline-block;
	max-width: 100%;
}

#content .status-panel .content .progress .title {
	display: inline-block;
}

#content .status-panel .content .progress .title span {
	text-transform: uppercase;
	font: 400 0.75rem 'Roboto';
}

#content .status-panel .content .progress .strip {
	position: relative;
	width: 428px;
	max-width: 100%;
	height: 6px;
	background-color: #e6e6e6;
	border-radius: 3px;
	display: inline-block;
    margin: 0px 20px;
}

#content .status-panel .content .progress .strip .percent {
	position: absolute;
    top: -20px;
    margin-left: -11px;
	font: 400 0.75rem 'Roboto';
    color: #85c48e;
	transition: all .3s;
}

#content .status-panel .content .progress .strip .loading {
	height: inherit;
	border-radius: 3px;
	background-color: #85c48e;
	transition: all .3s;
}

#content .status-panel .content .status {
	display: inline-block;
	min-width: 120px;
}

#content .status-panel .content .status span {
	font: italic 400 0.75rem 'Roboto';
}

#content .status-panel .content .cancel {
	background: url('../images/design/cancel.png') no-repeat;
	height: 32px;
	position: absolute;
	right: 0;
	top: -43px;
	width: 32px;
}

/* Add info */
#content .add-info {

}

#content .add-info .content {

}

#content .add-info .content .left-side {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

#content .add-info .content .right-side {
	display: inline-block;
	width: 55%;
	vertical-align: top;
}

#content .add-info .content .left-side .check-stop-type #bus-station,
#content .add-info .content .left-side .check-stop-type #just-stop {
	display: none;
}

#content .add-info .content .left-side .check-stop-type {
	margin-bottom: 11px;
}

#content .add-info .content .left-side .check-stop-type p {
	color: #757575;
	font: 400 0.750rem 'Roboto' !important;
}

#content .add-info .content .left-side .check-stop-type label {
	border-bottom: 3px solid #fff;
	cursor: pointer;
	display: inline-block;
	font: 500 0.750rem/30px 'Roboto' !important;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 50%;
}

#content .add-info .content .left-side .check-stop-type input[type="radio"]:checked + label {
	border-bottom: 3px solid #ad4141;
}

#content .add-info .content .left-side .check-stop-type input[type="radio"]:not(:checked) + label {
	border-bottom: 3px solid #fff;
}


#content .add-info .content .left-side .fields {
	width: 100%;
}

#content .add-info .content .left-side .fields {
	width: 100%;
}

#content .add-info .content .left-side .fields .field {
	
}

#content .add-info .content .left-side .fields .field label {
	width: 100%;
    margin-left: -1px;
}

#content .add-info .content .left-side .fields .half {
	display: inline-block;
	width: 100%;
}

#content .add-info .content .left-side .fields .half label {
	display: inline-block;
	margin-right: 1.297169811320755%;
	width: 50%;
    margin-left: -1px;
}

#content .add-info .content .left-side .fields .half .add-stop {
	display: inline-block;
	float: right;
    height: 53px;
    margin: 0 -1px 0 0;
	vertical-align: top;
    width: 48%;
}

/* Stop list */
#content .stop-list {
	padding: 26px 0;
}

#content .stop-list header {
	font: 400 0.750rem/ 'Roboto' !important;
	color: #757575;
	text-transform: uppercase;
}

#content .stop-list header p {
	height: 28px !important;
}

#content .stop-list header p span {
	font: 400 0.750rem/28px 'Roboto' !important;
	color: #757575;
	text-transform: uppercase;
	vertical-align: top;
}

#content .stop-list .content {
	
}

#content .stop-list .content ul {
	width: 100%;
	list-style: none;
}

#content .stop-list .content ul li {
	background-color: #fff;
	display: block;
}

#content .stop-list .content ul li input[type="radio"] {
	display: none;
}

#content .stop-list .content ul li label {
	background: url(../images/design/stop-list-last.png) no-repeat 20px 0,
				url(../images/design/stop-list-first.png) no-repeat 20px 0;
				cursor: pointer;
	display: block;
	min-height: 58px;
}

#content .stop-list .content ul li:first-child label {
	background: url(../images/design/stop-list-first.png) no-repeat 20px 0;
}

#content .stop-list .content ul li:last-child label {
	background: url(../images/design/stop-list-last.png) no-repeat 20px 0;
}

#content .stop-list .content ul li input[type="radio"]:not(:checked) + label {
	background-color: #fff;
}

#content .stop-list .content ul li label:hover,
#content .stop-list .content ul li input[type="radio"]:checked + label {
	background-color: #f9f9f9;
}

#content .stop-list header p,
#content .stop-list .content ul li label p {
	display: inline-block;
	font: 300 0.750rem 'Roboto';
	height: 58px;
	vertical-align: middle;
}

#content .stop-list header .address,
#content .stop-list .content ul li label .info {
	margin-left: 2.22222222222222%;
	padding-left: 3.33333333333333%;
	width: 51.11111111111111%;
}

#content .stop-list .content ul li label .info .address {
	display: block;
	font: 400 0.875rem/19px 'Roboto';
	margin-top: 3px; 
}

#content .stop-list .content ul li label .info .description {
	display: block;
	font: 300 0.750rem/18px 'Roboto';
}

#content .stop-list header .distance,
#content .stop-list .content ul li label .distance {
	line-height: 58px;
	width: 16.66666666666667%;
}

#content .stop-list header .stop-for,
#content .stop-list .content ul li label .stop-for {
	line-height: 58px;
	width: 15.11111111111111%;
}

#content .stop-list .content ul li label .remove-stop {
	background: url(../images/design/stop-list-delete.png) no-repeat center center;
	cursor: pointer;
	width: 11.33333333333333%;
}

#content .stop-list .content ul li label .remove-stop:hover {
	background-color: #eee;
}


/* Next step */
#content .next-step .next-step-button {
	float: right;
}

/*  */
#content .add-schedule-info .fields .field label,
#content .add-schedule-info .fields .field input[type="button"] {
	width: 100%;
}

#content .add-schedule-info .fields .field {
	display: inline-block;
	vertical-align: top;
}

#content .add-schedule-info .fields .fourth {
	width: 25%;
}

#content .add-schedule-info .fields .half {
	margin: 0 1.297169811320755%;
	width: 47.40566037735849%;
}

#content .add-schedule-info .fields .add-schedule {
	height: 53px;
	margin: 0;
}

#content .departure .departure-list {
	display: block;
	height: 40px;
	margin-bottom: -27px;
}

#content .departure .departure-list li {
    cursor: pointer;
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 37px;
	margin-right: 10px;
	position: relative;
	width: 155px;
}

#content .departure .departure-list .active {
	border-bottom: 3px solid #ad4141;
}

#content .departure .departure-list li .time {
	color: #212121;
	font: 400 1.125rem 'Roboto';
	left: 0;
	position: absolute;
	top: 0;
}

#content .departure .departure-list li .days {
	bottom: 3px;
	color: #212121;
	font: 400 .625rem 'Roboto';
	left: 1px;
	position: absolute;
}

#content .departure .departure-list li .close {
	background: url(../images/design/cancel-14.png) no-repeat;
    cursor: pointer;
	display: block;
	height: 16px;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}

/*  */
#content .departure-price .fields .field label,
#content .departure-price .fields .field input[type="button"],
#content .additional-info .fields .field label,
#content .additional-info .fields .field input[type="button"] {
	height: 53px;
	margin: 0;
	width: 100%;
}

#content .departure-price .fields .field,
#content .additional-info .fields .field {
	display: inline-block;
	vertical-align: top;
}

#content .departure-price .fields .field:last-child,
#content .additional-info .fields .field:last-child {
	margin: 0;
}

#content .departure-price .fields .fourth,
#content .additional-info .fields .fourth {
	margin-right: 1.297169811320755%;
	width: 23.70283018867925%;
}

#content .departure-price .fields .fiveth,
#content .additional-info .fields .fiveth {
	margin-right: 1.297169811320755%;
	width: 18.70283018867925%;
}

#content .departure-price .fields .tenth,
#content .additional-info .fields .tenth {
	margin-right: 1.297169811320755%;
	width: 8.702830188679245%;
}

#content .departure-price .fields .half,
#content .additional-info .fields .half {
	margin-right: 1.297169811320755%;
	width: 48.70283018867925%;
}

#content .departure-price .fields .add-schedule,
#content .additional-info .fields .add-schedule {
	height: 53px;
	margin: 0;
}


@media (max-width: 578px) {
	#content .status-panel .content .progress .strip {
		max-width: 91.84549356223176%;
		margin: 0 4.291845493562232%;
	}
	#content .status-panel .content .status {
		display: block;
		text-align: center;
	}
	#content .main-info .content .third .field {
		width: 49.11556603773585%;
	}
	#content .main-info .content .third .field:nth-child(2) {
		margin-right: 0;
		width: 49.11556603773585%;
	}
	#content .main-info .content .third .field:nth-child(3) {
		margin-right: 0;
		width: 100%;
	}
}
@media (max-width: 480px) {
	#content .main-info .content .half .field {
		width: 100%;
		margin-right: 0;
	}
	#content .main-info .content .third .field {
		width: 100% !important;
		margin-right: 0;
	}
	#content .additional-info .content .left-side,
	#content .additional-info .content .right-side {
		display: block;
		width: 100%;
	}
	#content .seats-scheme .content .left-side,
	#content .seats-scheme .content .right-side {
		display: block;
		width: 100%;
	}
}